<head>
    <script src="./jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="./datatables/datatables.js"></script>
    <link rel="stylesheet" href="./datatables/datatables.css"/>
    <link rel="stylesheet" href="./datatables/DataTables-1.11.5/css/dataTables.bootstrap.css"/>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <style>
        .small-image {
            height: 100px;
            border-radius: 15px;
        }

        td, tbody, table {
            border: none;
        }

        thead {
            display: none;
        }

        .form-check-input:checked{
            background-color: #dc3545;
            border-color:rgb(220, 53, 69);
        }
        .form-check-input:focus{
            border-color:#dc3545;
            box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
        }
        .form-switch .form-check-input:focus{
            background-image: url("./images/circle_red.png");
        }
        .form-switch .form-check-input:checked{
            background-image: url("./images/circle_white.png");
        }
    </style>
</head>
<body>
<div class="container border rounded mt-2 text-center pb-2">
    <h1 class="mt-2" th:text="'Добре дојде назад @' + ${user.username}">Добре дојде назад КОРИСНИК!</h1>
    <hr class="mb-1"/>
    <div class="row">
        <div class="col-6 text-center">
            <h2>Научи повеќе</h2>
            <hr/>
            <table class="container-fluid w-100 col-12 table p-0 table table-stripped" id="learn-table">
                <thead>
                <tr class="row align-items-center">
                    <td class="col-4"></td>
                    <td class="col-3"></td>
                    <td class="col-3"></td>
                    <td class="col-2"></td>
                </tr>
                </thead>
                <tbody id="tbody-helper">
                <tr class="row align-items-center mb-1">
                    <td class="col-4 p-0 text-center align-middle"><img src="./images/asthma_attack.JPG"
                                                                        class="small-image zoomInImages"/></td>
                    <td class="col-3 p-0 text-left align-middle">Астматичен напад</td>
                    <td class="col-3 p-0 text-center align-middle"><a href="./details_finished.html"
                                                                      class="btn btn-danger text-white btn-block col-10">Детали</a>
                    </td>
                    <td class="col-2 p-0 text-center align-middle"><a title="Завршено!">
                        <button class="btn btn-success">&#10003;</button>
                    </a></td>
                </tr>
                <tr class="row align-items-center mb-1">
                    <td class="col-4 p-0 text-center align-middle"><img src="./images/bleeding.JPG"
                                                                        class="small-image zoomInImages"/></td>
                    <td class="col-3 p-0 text-left align-middle">Крварење</td>
                    <td class="col-3 p-0 text-center align-middle"><a href="./details_unfinished.html"
                                                                      class="btn btn-danger text-white btn-block col-10">Детали</a>
                    </td>
                    <td class="col-2 p-0 text-center align-middle"><a title="Не е завршено!">
                        <button class="btn btn-warning text-white">X</button>
                    </a></td>
                </tr>
                <tr class="row align-items-center mb-1">
                    <td class="col-4 p-0 text-center align-middle"><img src="./images/broken_bone.JPG"
                                                                        class="small-image zoomInImages"/></td>
                    <td class="col-3 p-0 text-left align-middle">Скршеници</td>
                    <td class="col-3 p-0 text-center align-middle"><a href="./details_finished.html"
                                                                      class="btn btn-danger text-white btn-block col-10">Детали</a>
                    </td>
                    <td class="col-2 p-0 text-center align-middle"><a title="Завршено!">
                        <button class="btn btn-success">&#10003;</button>
                    </a></td>
                </tr>
                <tr class="row align-items-center mb-1">
                    <td class="col-4 p-0 text-center align-middle"><img src="./images/burns.JPG"
                                                                        class="small-image zoomInImages"/></td>
                    <td class="col-3 p-0 text-left align-middle">Изгореници</td>
                    <td class="col-3 p-0 text-center align-middle"><a href="./details_unfinished.html"
                                                                      class="btn btn-danger text-white btn-block col-10">Детали</a>
                    </td>
                    <td class="col-2 p-0 text-center align-middle"><a title="Не е завршено!">
                        <button class="btn btn-warning text-white">X</button>
                    </a></td>
                </tr>
                <tr class="row align-items-center mb-1">
                    <td class="col-4 p-0 text-center align-middle"><img src="./images/choking.JPG"
                                                                        class="small-image zoomInImages"/></td>
                    <td class="col-3 p-0 text-left align-middle">Задушување</td>
                    <td class="col-3 p-0 text-center align-middle"><a href="./details_unfinished.html"
                                                                      class="btn btn-danger text-white btn-block col-10">Детали</a>
                    </td>
                    <td class="col-2 p-0 text-center align-middle"><a title="Не е завршено!">
                        <button class="btn btn-warning text-white">X</button>
                    </a></td>
                </tr>
                <tr class="row align-items-center mb-1">
                    <td class="col-4 p-0 text-center align-middle"><img src="./images/head_injury.JPG"
                                                                        class="small-image zoomInImages"/></td>
                    <td class="col-3 p-0 text-left align-middle">Повреди на глава</td>
                    <td class="col-3 p-0 text-center align-middle"><a href="./details_unfinished.html"
                                                                      class="btn btn-danger text-white btn-block col-10">Детали</a>
                    </td>
                    <td class="col-2 p-0 text-center align-middle"><a title="Не е завршено!">
                        <button class="btn btn-warning text-white">X</button>
                    </a></td>
                </tr>
                <tr class="row align-items-center mb-1">
                    <td class="col-4 p-0 text-center align-middle"><img src="./images/heart_attack.JPG"
                                                                        class="small-image zoomInImages"/></td>
                    <td class="col-3 p-0 text-left align-middle">Срцев удар</td>
                    <td class="col-3 p-0 text-center align-middle"><a href="./details_unfinished.html"
                                                                      class="btn btn-danger text-white btn-block col-10">Детали</a>
                    </td>
                    <td class="col-2 p-0 text-center align-middle"><a title="Не е завршено!">
                        <button class="btn btn-warning text-white">X</button>
                    </a></td>
                </tr>
                <tr class="row align-items-center mb-1">
                    <td class="col-4 p-0 text-center align-middle"><img src="./images/hypothermia.JPG"
                                                                        class="small-image zoomInImages"/></td>
                    <td class="col-3 p-0 text-left align-middle">Хипотермиа</td>
                    <td class="col-3 p-0 text-center align-middle"><a href="./details_unfinished.html"
                                                                      class="btn btn-danger text-white btn-block col-10">Детали</a>
                    </td>
                    <td class="col-2 p-0 text-center align-middle"><a title="Не е завршено!">
                        <button class="btn btn-warning text-white">X</button>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>Тестирај се</h2>
            <hr/>
            <h5 class="mb-3">Одбери на кои теми сакаш да го тестираш своето знаење</h5>
            <div class="row col-10 ms-5 mb-1">
                <div class="col-5 offset-1">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="asthma_attack">
                        <label class="form-check-label col-12 d-flex justify-content-start" for="asthma_attack">Астматичен
                            напад</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="bleeding">
                        <label class="form-check-label col-12 d-flex justify-content-start"
                               for="bleeding">Крварење</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="broken_bone">
                        <label class="form-check-label col-12 d-flex justify-content-start"
                               for="broken_bone">Скршеници</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="burns">
                        <label class="form-check-label col-12 d-flex justify-content-start"
                               for="burns">Изгореници</label>
                    </div>
                </div>
                <div class="col-5 offset-1">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="choking">
                        <label class="form-check-label col-12 d-flex justify-content-start"
                               for="choking">Задушување</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="head_injury">
                        <label class="form-check-label col-12 d-flex justify-content-start" for="head_injury">Повреди на
                            глава</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="heart_attack">
                        <label class="form-check-label col-12 d-flex justify-content-start" for="heart_attack">Срцев
                            удар</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="hypothermia">
                        <label class="form-check-label col-12 d-flex justify-content-start"
                               for="hypothermia">Хипотермиа</label>
                    </div>
                </div>
            </div>
            <a href="./test.html" class="btn btn-danger btn-lg btn-block col-12 mt-2">Започни сo тестирање!</a>
            <hr class="mb-1"/>
            <h2 class="text-center">Твои 3 најдобри резултати</h2>
            <hr/>
            <div class="row col-10 d-flex justify-content-end offset-1 text-white">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4 pt-1" style="background-color: #ed081f;">
                        <h4>#1</h4>
                        <h5>94/100</h5>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 pt-1" style="background-color:#c71628">
                        <h4>#2</h4>
                        <h5>83/100</h5>
                    </div>
                    <div class="col-4 " style="background-color: #ed081f;">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="background-color:#c71628">
                    </div>
                    <div class="col-4 " style="background-color: #ed081f;">
                    </div>
                    <div class="col-4 pt-1" style="background-color: #dc3545;">
                        <h4>#3</h4>
                        <h5>67/100</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#learn-table").DataTable({
            "columns": [
                {"name": "image", "orderable": false},
                {"name": "name", "orderable": false},
                {"name": "details", "orderable": false},
                {"name": "status", "orderable": false}
            ],
            "ordering": false,
            "bLengthChange": false,
            "searching": false,
            "pageLength": 4,
            "bInfo": false,
            "language": {
                "paginate": {
                    "previous": "<<",
                    "next": ">>"
                }
            }
        });
        $("#learn-table_paginate").addClass(["text-center", "col-12"]);
    });
</script>
<script>
    $(document).ready(function () {
        $("#tbody-helper").on("mouseenter", ".zoomInImages", function (e) {
            $(this).animate({height: '+=15', width: '+=15'})
        });
        $("#tbody-helper").on("mouseleave", ".zoomInImages", function (e) {
            $(this).animate({height: '-=15', width: '-=15'});
        });
    })
</script>
<script>
    $(function () {
        $(document).tooltip();
    });
</script>
</body>