<div class="col-6">
    <h2>Тестирај се</h2>
    <hr/>
    <h5 class="mb-3">Одбери на кои теми сакаш да го тестираш своето знаење</h5>
    <div class="row col-10 ms-5 mb-1">
        <div class="col-5 offset-1">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="asthma_attack">
                <label class="form-check-label col-12 d-flex justify-content-start" for="asthma_attack">Астматичен
                    напад</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="bleeding">
                <label class="form-check-label col-12 d-flex justify-content-start"
                       for="bleeding">Крварење</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="broken_bone">
                <label class="form-check-label col-12 d-flex justify-content-start"
                       for="broken_bone">Скршеници</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="burns">
                <label class="form-check-label col-12 d-flex justify-content-start"
                       for="burns">Изгореници</label>
            </div>
        </div>
        <div class="col-5 offset-1">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="choking">
                <label class="form-check-label col-12 d-flex justify-content-start"
                       for="choking">Задушување</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="head_injury">
                <label class="form-check-label col-12 d-flex justify-content-start" for="head_injury">Повреди на
                    глава</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="heart_attack">
                <label class="form-check-label col-12 d-flex justify-content-start" for="heart_attack">Срцев
                    удар</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="hypothermia">
                <label class="form-check-label col-12 d-flex justify-content-start"
                       for="hypothermia">Хипотермиа</label>
            </div>
        </div>
    </div>