<div class="container border rounded mt-2 text-center pb-2">
    <h1 class="mt-2">Пример детали за тема маркирана како завршена</h1>
    <hr />
    <div class="row">
        <div class="col-6">
            <iframe class="col-12 h-75" src="https://www.youtube.com/embed/jYtJS1PtNq0">
            </iframe>
            <hr/>
            <div class="row">
                <div class="col-8 text-start ps-3">
                    <h4>Тековен статус: </h4>
                </div>
                <div class="col-4 text-end">
                    <h4><span class="badge bg-success rounded-pill">Завршено</span></h4>
                </div>
            </div>
            <hr class="mt-1 mb-2"/>
            <a class="btn btn-block btn-warning text-white col-12 btn-lg" href="/topic/markAsUnfinished">Маркирај како незавршено</a>
            <a class="btn btn-block btn-success col-12 btn-lg" href="/topic/markAsFinished">Маркирај како завршено</a>
        </div>
        <div class="col-6 overflow-scroll text-start " style="height:560px;">
            <h5 class="list-group-item">Тука ќе бидат сместени сите текстуални детали во врска со темата. Во продолжение е поставен само случајно изгенериран текст.</h5>
                <ul class="list-group list-group-numbered">
                    <li class="list-group-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nunc semper turpis et ullamcorper vehicula.
                        Nunc efficitur neque a est accumsan eleifend.
                        Integer eu tortor ut libero consectetur scelerisque at non turpis.
                        Vivamus a lacus in lorem malesuada venenatis.
                        Mauris maximus nulla porta urna egestas cursus.
                        Mauris nec sapien venenatis, tincidunt metus sed, ultrices lorem.
                        Aliquam eu nisi ac elit euismod maximus vitae et mi.
                        Mauris blandit felis eu tristique dapibus.
                    </li>
                    <li class="list-group-item">
                        Nam ullamcorper leo nec odio congue, ac tempor nisl rhoncus.
                        Pellentesque et urna ullamcorper, efficitur odio non, pulvinar eros.
                        Aliquam blandit tellus at eros hendrerit, ut cursus justo mattis.
                        Duis lacinia quam non ligula gravida, ac vulputate dolor varius.
                        Etiam eu velit lobortis, tristique elit non, dignissim ligula.
                        Nam facilisis mi sed augue efficitur ultricies.
                        Curabitur convallis odio eget lacus varius fermentum.
                        Duis eget quam auctor, rutrum neque vel, posuere diam.
                    </li>
                    <li class="list-group-item">
                        Aenean lobortis augue eget lorem porta tincidunt.
                        Aenean elementum elit et sapien rhoncus, a consequat mauris dictum.
                        Proin euismod libero in rhoncus bibendum.
                        In nec ipsum at nunc gravida posuere quis ac nibh.
                        Phasellus eget mauris nec risus fermentum faucibus sed vitae lacus.
                        Aliquam convallis quam sit amet neque sagittis fermentum.
                        Integer tincidunt nunc id neque vulputate ultrices.
                        Proin quis nisl id sapien finibus porta vitae in risus.
                        Maecenas lacinia urna id varius commodo.
                    </li>
                    <li class="list-group-item">
                        Curabitur sit amet orci feugiat, mattis enim non, malesuada magna.
                        Nunc eu justo sit amet risus elementum gravida id non lectus.
                        Nullam auctor tortor sed nisi fringilla euismod.
                        Etiam nec sem a massa dapibus laoreet vel quis dolor.
                        Etiam hendrerit tortor eget purus molestie, eu vehicula nulla posuere.
                        Aenean vehicula augue a felis tincidunt convallis.
                        Vivamus id dolor sit amet nunc vehicula luctus semper in metus.
                        Donec egestas sapien non sapien auctor tempus.
                    </li>
                    <li class="list-group-item">
                        Morbi facilisis dui sed tortor semper, vitae placerat lacus sodales.
                        Donec et nibh ultricies, consequat odio semper, blandit ligula.
                        Nulla posuere orci quis sollicitudin fermentum.
                        Integer eu mi tempus, malesuada lorem at, condimentum nisl.
                        Vivamus facilisis arcu sit amet nisl laoreet, vel sodales tellus sagittis.
                        Ut ac orci dictum, ultrices libero eu, ullamcorper turpis.
                        Donec non felis malesuada, aliquam turpis a, rhoncus tortor.
                        Pellentesque mattis nunc quis consectetur aliquam.
                        Aliquam ullamcorper ex et nulla fringilla accumsan.
                    </li>
                    <li class="list-group-item">
                        Nunc et nulla ut lacus volutpat tempor.
                        Sed eleifend dui ut turpis convallis, at interdum lorem rhoncus.
                        Morbi pellentesque purus vitae suscipit auctor.
                        Phasellus iaculis lacus vitae dictum lobortis.
                        Nulla pretium velit vel eros consequat imperdiet.
                        Pellentesque pretium mauris vitae vestibulum tempus.
                        Aenean ullamcorper libero non orci tincidunt, at fermentum magna molestie.
                        Aenean viverra purus nec diam interdum pharetra in sit amet nisi.
                        Aenean ullamcorper leo nec viverra interdum.
                    </li>
                    <li class="list-group-item">
                        Aenean vitae justo consectetur, tincidunt ante a, convallis nibh.
                        Duis feugiat risus eu orci ornare vulputate.
                        Donec eget mauris varius, varius odio vel, suscipit tellus.
                        Donec non quam pulvinar, ornare velit vel, efficitur ligula.
                        Nulla tempor lectus sit amet diam ullamcorper, a pharetra nisl pulvinar.
                        Vestibulum imperdiet tellus in euismod sodales.
                        Nullam commodo tellus a ligula aliquet, id molestie orci rhoncus.
                        Proin eget est pulvinar, tristique sapien ut, blandit arcu.
                        Vestibulum imperdiet erat non ligula hendrerit posuere.
                    </li>
                    </ul>
        </div>
    </div>
</div>